@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
   scroll-behavior: smooth;
}

header{
    background-color: rgb(14, 72, 53);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    transition: 0.7s;
    width: 100%;
    box-shadow:20px 5px 20px 20px rgb(48, 48, 48) ;
}
header:hover{
    transform: scale(1.1);
    background-color: rgb(7, 46, 33);
}
.logo{
    text-decoration: none;
    color: rgba(30, 226, 105, 0.945);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    transition: 0.5s;
    
    }

    .logo:hover{
        color: rgba(14, 73, 37, 0.945);
        transform: scale(1.1);
    }

    .navigation a{
       color: rgba(30, 226, 105, 0.945);
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 500;
        padding-left: 30px;
        transition: 0.5s;
    }
    .navigation a:hover{
        color: rgba(25, 132, 66, 0.945);
    }

    section{
        padding: 100px 200px;
        display: flex;
        justify-content: center;
        
    }
    .main{
        width:100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background:url(images/pp.png) no-repeat ;
        background-size:auto;
        background-position: center; 
        background-attachment: fixed;   
        background-color: rgb(23, 120, 88);
    }
    .main h2{
        color:rgba(30, 226, 105, 0.945);
        font-size: 1.4em;
        font-weight: 500;
         transition: 0.5s;
     display: flex;
     justify-content: center;
         
        
    }
    .main h2:hover{
        color:  rgb(8, 16, 55);
    
    }
    
    .main h3{
        display: inline-block;
        margin-top: 10px;
        color: rgba(30, 226, 105, 0.945);;
        font-size: 3em;
        font-weight: 600;
        transition: 0.5s;
        display: flex;
     justify-content: center;
    
    }
    .main h3:hover{
        color: rgb(8, 16, 55);
    }
    
    .main h4{
        color: rgba(30, 226, 105, 0.945);;
        font-size: 2em; 
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
        transition: 0.5s;
    }
    .main h4:hover{
        color: rgb(8, 16, 55);
    }
    .icons a{
        color: rgba(30, 226, 105, 0.945);;
         font-size: 1.7em;
         padding-right: 30px;
         transition: 0.3s;
    }
    .icons :hover{
        transform: scale(1.1);
        color: red;
    }
    .main-btn{
        color: rgb(22, 163, 19);
        background-color: rgb(14, 142, 74);
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 600;
        display: inline-block;
        padding: 0.9375em 2.1875em;
        letter-spacing: 1px;
        border-radius: 15px;
        margin-bottom: 40px;
        transition: 0.7s ;
        display: flex;
        justify-content: center;
    }
    
    .main-btn:hover{
         background-color: rgb(6, 47, 14);
         transform: scale(1.1);
    }
     .title1{
        padding: 100px 200px;
        width:100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
         background-size:auto;
        background-position: center; 
        background-attachment: fixed;   
        background-color: rgb(23, 120, 88);
        background-color: black;
    }
    

.title1 h2{
    color:rgba(255, 255, 255, 0.945);
    font-size: 1.9em;
    font-weight: 500;
     transition: 0.5s;
 display: flex;
 justify-content: center;
 align-items: flex-start;
}

.title1 h3{
    display: flex;
    margin-top: 10px;
    color: rgba(115, 228, 158, 0.945);;
    font-size: 3em;
    font-weight: 600;
    transition: 0.5s;
   justify-content: center;
}
.title1 h4{
    color: rgba(255, 255, 255, 0.945);;
    font-size: 2em; 
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
}

.title2{
    padding: 100px 200px;
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
     background-size:auto;
    background-position: center; 
    background-attachment: fixed;   
    background-color: rgb(23, 120, 88);
    background-color: rgb(255, 255, 255);
}
 

.title2 h2{
    color:rgba(0, 0, 0, 0.945);
    font-size: 1.9em;
    font-weight: 500;
     transition: 0.5s;
 display: flex;
 justify-content: center;
 align-items: flex-start;
}

.title2 h3{
    display: flex;
    margin-top: 10px;
    color: rgba(115, 228, 158, 0.945);;
    font-size: 3em;
    font-weight: 600;
    transition: 0.5s;
   justify-content: center;
}

.footer{
    background-color: rgb(24, 26, 25);
    color: rgb(254, 254, 254);
    padding: 2em;
    display: flex;
    justify-content: space-between;
    transition: 0.7s;

.footer_title{
    font-size: 1.3em;
    font-weight: 600;
.scroll-up{
    position:fixed;
    bottom: 20px;
    right: 20px;
font-size:  18px;
color: rgb(255, 255, 255);
background-color: aquamarine;
padding: 5px 12px;
border-radius: 5px;
transition: 0.7s;
}


.scroll-up:hover{
    background-color: rgb(18, 76, 57);
    transform: scale(1.1);
}

}
@media (max-width:1023px) 
    {
        .header{
        padding: 12px 20px ;
        font-size: 0.9em;
    }
     .navigation{
        padding-left: 10px;
        font-size: 0.7em;
     }

     .title1{
        font-size: 0.5em;
       display: inline-block;
     }
     .title2{
        font-size: 0.5em;
     }
     section{
        padding: 80px 20px ;
     }
     .main h2 {
    font-size: 1em;
     }

}
